/* Google Font */
@import url("https://fonts.googleapis.com/css2?family=Bungee+Inline&display=swap");

html {
    height: -webkit-fill-available;
}

body {
    height: 100vh;
    height: -webkit-fill-available;
    font-family: "Bungee Inline", cursive;
}
