.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 100%;
    background: #fe8c00;
    background: -webkit-linear-gradient(to left, #f83600, #fe8c00);
    background: linear-gradient(to right, #f83600, #fe8c00);
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50%;
    background-color: #00000066;
    border: solid 1px #ffffff;
    padding: 2rem;
    border-radius: 2rem;
}