.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    height: 100%;
    background: linear-gradient(to right, #f83600, #fe8c00);
}
.games{
    height: 4rem;
    background: linear-gradient(to right, #f83600, #fe8c00);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    margin-top: 1rem;
}
.center{
    display: flex;
}
.historial{
    display: flex;
    max-height: 36rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color: #000000B3;
    border-radius: 2rem;
    overflow-y: scroll;
}
.tableContainer{
    border-radius: 2rem;
    min-height: 19.3rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    position: relative;
    top: 14rem;
}
.tableSubtitle{
    background: linear-gradient(to right, #f83600, #fe8c00);
}
.table:nth-child(odd){
    background-color: #e1e1e166;
}
.table:nth-child(even){
    background-color: #9d9d9d66;
}